@charset "UTF-8";
/* reset.scss */
/* basic */
html, body { width: 100%; height: 100%; }

html, body, h1, h2, h3, h4, h5, h6, div, form, fieldset, table, tr, td, th, thead, tbody, tfoot, img, ul, ol, ul, li, dt, dd, dl, p { margin: 0; padding: 0; border: 0; outline: 0; color: #333; font-size: 100%; line-height: 1.2; font-family: 'Nanum Gothic', 'myriad pro', Arial, dotum, sans-serif; }

/* set_1 */
ul, ol, li { list-style: none; }

a { text-decoration: none; color: inherit; }

table, th, td { border-spacing: 0; border-collapse: collapse; }

/* set_2: form */
input, select, textarea { box-sizing: border-box; border: 1px solid #575757; }

button, input[type="button"], input[type="submit"], input[type="reset"] { border: 0; cursor: pointer; }

/* focus */
a:focus, input:focus, button:focus, textarea:focus, select:focus { outline: 3px solid #ff0; outline-offset: 5px; position: relative; z-index: 1000; }

/* html5 */
header, article, aside, footer, nav, figure, main, srcset { display: block; }

/* base.scss */
/* base.css */
/* ir기법적용 */
.hidden { width: 0; height: 0; display: block; overflow: hidden; }

.hidden_wrap a > span { width: 0; height: 0; display: block; overflow: hidden; }

.hidden_wrap a { width: 100%; height: 100%; display: block; background-repeat: no-repeat; background-position: 0 0; }

/* clear:both 적용 */
.clearfix:after, .cf:after { content: " "; display: block; clear: both; }

/* table:sett */
table { border: 2px solid #575757; border-left: 0; border-right: 0; }

thead { background-color: #cfcfcf; }

tbody td { border-top: 1px solid #575757; vertical-align: middle; text-indent: 3px; }

tbody th { background-color: #cfcfcf; }

/* nav last, first margin */
.nav_fr li:first-child, .nav_la li:last-child { margin: 0; padding: 0; border: 0; }

#wrap { width: 100%; height: auto; margin: 0 auto; }

/* reset.scss */
/* basic */
html, body { width: 100%; height: 100%; }

html, body, h1, h2, h3, h4, h5, h6, div, form, fieldset, table, tr, td, th, thead, tbody, tfoot, img, ul, ol, ul, li, dt, dd, dl, p { margin: 0; padding: 0; border: 0; outline: 0; color: #333; font-size: 100%; line-height: 1.2; font-family: 'Nanum Gothic', 'myriad pro', Arial, dotum, sans-serif; }

/* set_1 */
ul, ol, li { list-style: none; }

a { text-decoration: none; color: inherit; }

table, th, td { border-spacing: 0; border-collapse: collapse; }

/* set_2: form */
input, select, textarea { box-sizing: border-box; border: 1px solid #575757; }

button, input[type="button"], input[type="submit"], input[type="reset"] { border: 0; cursor: pointer; }

/* focus */
a:focus, input:focus, button:focus, textarea:focus, select:focus { outline: 3px solid #ff0; outline-offset: 5px; position: relative; z-index: 1000; }

/* html5 */
header, article, aside, footer, nav, figure, main, srcset { display: block; }

/* base.scss */
/* base.css */
/* ir기법적용 */
.hidden { width: 0; height: 0; display: block; overflow: hidden; }

.hidden_wrap a > span { width: 0; height: 0; display: block; overflow: hidden; }

.hidden_wrap a { width: 100%; height: 100%; display: block; background-repeat: no-repeat; background-position: 0 0; }

/* clear:both 적용 */
.clearfix:after, .cf:after { content: " "; display: block; clear: both; }

/* table:sett */
table { border: 2px solid #575757; border-left: 0; border-right: 0; }

thead { background-color: #cfcfcf; }

tbody td { border-top: 1px solid #575757; vertical-align: middle; text-indent: 3px; }

tbody th { background-color: #cfcfcf; }

/* nav last, first margin */
.nav_fr li:first-child, .nav_la li:last-child { margin: 0; padding: 0; border: 0; }

#headBox { width: 80%; height: 5vw; background-color: #fff; margin: 0 auto; box-sizing: border-box; }

.h1_logo { width: 12%; height: 80%; background-image: url("../image/gtq_logo_cap.png"); background-repeat: no-repeat; background-size: contain; float: left; margin-top: 1%; }

.navi_box { width: 80%; height: inherit; float: left; position: relative; }

.g_navi { width: 50%; height: 50%; background-color: #3f3; position: absolute; bottom: 0; left: 5vw; }
.g_navi li { width: 25%; height: 100%; float: left; background-color: #f65; /*margin-right: 3vw;*/ font-size: 1em; text-align: center; }

/* bannerBox.scss */
/* reset.scss */
/* basic */
html, body { width: 100%; height: 100%; }

html, body, h1, h2, h3, h4, h5, h6, div, form, fieldset, table, tr, td, th, thead, tbody, tfoot, img, ul, ol, ul, li, dt, dd, dl, p { margin: 0; padding: 0; border: 0; outline: 0; color: #333; font-size: 100%; line-height: 1.2; font-family: 'Nanum Gothic', 'myriad pro', Arial, dotum, sans-serif; }

/* set_1 */
ul, ol, li { list-style: none; }

a { text-decoration: none; color: inherit; }

table, th, td { border-spacing: 0; border-collapse: collapse; }

/* set_2: form */
input, select, textarea { box-sizing: border-box; border: 1px solid #575757; }

button, input[type="button"], input[type="submit"], input[type="reset"] { border: 0; cursor: pointer; }

/* focus */
a:focus, input:focus, button:focus, textarea:focus, select:focus { outline: 3px solid #ff0; outline-offset: 5px; position: relative; z-index: 1000; }

/* html5 */
header, article, aside, footer, nav, figure, main, srcset { display: block; }

/* base.scss */
/* base.css */
/* ir기법적용 */
.hidden { width: 0; height: 0; display: block; overflow: hidden; }

.hidden_wrap a > span { width: 0; height: 0; display: block; overflow: hidden; }

.hidden_wrap a { width: 100%; height: 100%; display: block; background-repeat: no-repeat; background-position: 0 0; }

/* clear:both 적용 */
.clearfix:after, .cf:after { content: " "; display: block; clear: both; }

/* table:sett */
table { border: 2px solid #575757; border-left: 0; border-right: 0; }

thead { background-color: #cfcfcf; }

tbody td { border-top: 1px solid #575757; vertical-align: middle; text-indent: 3px; }

tbody th { background-color: #cfcfcf; }

/* nav last, first margin */
.nav_fr li:first-child, .nav_la li:last-child { margin: 0; padding: 0; border: 0; }

#bannerBox { width: 100%; height: 40vw; padding-top: 4%; box-sizing: border-box; /*background-image: url('../image/banner_bgi@4x.png'); background-repeat: no-repeat; background-size: cover;*/ }

.banner { width: 50%; height: 100%; /*background-color: #39f;*/ margin: 0 auto; position: relative; }

.circle { width: 400px; height: 400px; -webkit-border-radius: 200px; -moz-border-radius: 200px; border: 4px solid #48f; position: absolute; left: 10vw; }

.mini_circle_box { width: 100%; height: 100%; /*background-color: #f6b;*/ }
.mini_circle_box li { width: 80px; height: 80px; -webkit-border-radius: 40px; -moz-border-radius: 40px; background-color: #bbb; }

/* reset.scss */
/* basic */
html, body { width: 100%; height: 100%; }

html, body, h1, h2, h3, h4, h5, h6, div, form, fieldset, table, tr, td, th, thead, tbody, tfoot, img, ul, ol, ul, li, dt, dd, dl, p { margin: 0; padding: 0; border: 0; outline: 0; color: #333; font-size: 100%; line-height: 1.2; font-family: 'Nanum Gothic', 'myriad pro', Arial, dotum, sans-serif; }

/* set_1 */
ul, ol, li { list-style: none; }

a { text-decoration: none; color: inherit; }

table, th, td { border-spacing: 0; border-collapse: collapse; }

/* set_2: form */
input, select, textarea { box-sizing: border-box; border: 1px solid #575757; }

button, input[type="button"], input[type="submit"], input[type="reset"] { border: 0; cursor: pointer; }

/* focus */
a:focus, input:focus, button:focus, textarea:focus, select:focus { outline: 3px solid #ff0; outline-offset: 5px; position: relative; z-index: 1000; }

/* html5 */
header, article, aside, footer, nav, figure, main, srcset { display: block; }

/* base.scss */
/* base.css */
/* ir기법적용 */
.hidden { width: 0; height: 0; display: block; overflow: hidden; }

.hidden_wrap a > span { width: 0; height: 0; display: block; overflow: hidden; }

.hidden_wrap a { width: 100%; height: 100%; display: block; background-repeat: no-repeat; background-position: 0 0; }

/* clear:both 적용 */
.clearfix:after, .cf:after { content: " "; display: block; clear: both; }

/* table:sett */
table { border: 2px solid #575757; border-left: 0; border-right: 0; }

thead { background-color: #cfcfcf; }

tbody td { border-top: 1px solid #575757; vertical-align: middle; text-indent: 3px; }

tbody th { background-color: #cfcfcf; }

/* nav last, first margin */
.nav_fr li:first-child, .nav_la li:last-child { margin: 0; padding: 0; border: 0; }

#preview { width: 100%; height: 50vw; background-color: #aaa; }

/* reset.scss */
/* basic */
html, body { width: 100%; height: 100%; }

html, body, h1, h2, h3, h4, h5, h6, div, form, fieldset, table, tr, td, th, thead, tbody, tfoot, img, ul, ol, ul, li, dt, dd, dl, p { margin: 0; padding: 0; border: 0; outline: 0; color: #333; font-size: 100%; line-height: 1.2; font-family: 'Nanum Gothic', 'myriad pro', Arial, dotum, sans-serif; }

/* set_1 */
ul, ol, li { list-style: none; }

a { text-decoration: none; color: inherit; }

table, th, td { border-spacing: 0; border-collapse: collapse; }

/* set_2: form */
input, select, textarea { box-sizing: border-box; border: 1px solid #575757; }

button, input[type="button"], input[type="submit"], input[type="reset"] { border: 0; cursor: pointer; }

/* focus */
a:focus, input:focus, button:focus, textarea:focus, select:focus { outline: 3px solid #ff0; outline-offset: 5px; position: relative; z-index: 1000; }

/* html5 */
header, article, aside, footer, nav, figure, main, srcset { display: block; }

/* base.scss */
/* base.css */
/* ir기법적용 */
.hidden { width: 0; height: 0; display: block; overflow: hidden; }

.hidden_wrap a > span { width: 0; height: 0; display: block; overflow: hidden; }

.hidden_wrap a { width: 100%; height: 100%; display: block; background-repeat: no-repeat; background-position: 0 0; }

/* clear:both 적용 */
.clearfix:after, .cf:after { content: " "; display: block; clear: both; }

/* table:sett */
table { border: 2px solid #575757; border-left: 0; border-right: 0; }

thead { background-color: #cfcfcf; }

tbody td { border-top: 1px solid #575757; vertical-align: middle; text-indent: 3px; }

tbody th { background-color: #cfcfcf; }

/* nav last, first margin */
.nav_fr li:first-child, .nav_la li:last-child { margin: 0; padding: 0; border: 0; }

#footBox { width: 100%; height: 10vw; background-color: #bbb; }

/*# sourceMappingURL=gtq_main.css.map */
